<?xml version="1.0" encoding="utf-8"?>
<Media Key="091b2113-b54e-43d4-9e0d-fff0bf01f9a5" Alias="2023" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-06T14:59:29</CreateDate>
    <NodeName Default="2023" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>