<?xml version="1.0" encoding="utf-8"?>
<Media Key="27ea7c27-29d5-472a-a95f-bcaf181fb455" Alias="300" Level="3">
  <Info>
    <Parent Key="710d3e5f-53e7-461b-a22d-5120a4657463">April</Parent>
    <Path>//April/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-07T07:18:38</CreateDate>
    <NodeName Default="300" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ef4ouj4v/300.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>