<?xml version="1.0" encoding="utf-8"?>
<Media Key="77e91061-20e4-4c82-8e02-0c0a50fac15f" Alias="800" Level="3">
  <Info>
    <Parent Key="710d3e5f-53e7-461b-a22d-5120a4657463">April</Parent>
    <Path>//April/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-07T07:21:22</CreateDate>
    <NodeName Default="800" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/m2ios35e/800.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>