<?xml version="1.0" encoding="utf-8"?>
<Media Key="55d236ba-8a51-45df-8efe-1f708fca7d64" Alias="Always Be Ahead Herobanner Desktop (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AlwaysBeAheadHerobannerDesktop1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-05T14:21:20</CreateDate>
    <NodeName Default="Always Be Ahead Herobanner Desktop (1)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xq1nevkr/always-be-ahead-herobanner-desktop.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>