<?xml version="1.0" encoding="utf-8"?>
<Media Key="e80a2258-bd01-4a1c-9d64-6b5edb860799" Alias="Always Be Ahead Herobanner Desktop" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AlwaysBeAheadHerobannerDesktop</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-05T14:19:59</CreateDate>
    <NodeName Default="Always Be Ahead Herobanner Desktop" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lyrav0ab/always-be-ahead-herobanner-desktop.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>