<?xml version="1.0" encoding="utf-8"?>
<Media Key="60f8205e-0ba2-4f4a-ade3-f81f72fa3902" Alias="Anirudh Xu4pz7gi9jy Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AnirudhXu4pz7gi9jyUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-02-22T10:46:43</CreateDate>
    <NodeName Default="Anirudh Xu4pz7gi9jy Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/laqpqyfc/anirudh-xu4pz7gi9jy-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>