<?xml version="1.0" encoding="utf-8"?>
<Media Key="51c1dca9-762e-4bcb-bfde-8d682680303b" Alias="Breaker Banner Desktop" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BreakerBannerDesktop</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-05T14:56:28</CreateDate>
    <NodeName Default="Breaker Banner Desktop" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/v5omcujo/breaker-banner-desktop.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>