<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2745759-93bd-4211-ad0d-22779f4f407f" Alias="Feb" Level="2">
  <Info>
    <Parent Key="091b2113-b54e-43d4-9e0d-fff0bf01f9a5">2023</Parent>
    <Path>//Feb</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-06T14:59:59</CreateDate>
    <NodeName Default="Feb" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>