<?xml version="1.0" encoding="utf-8"?>
<Media Key="a73fac3c-9d66-491b-8840-d43b61d6de17" Alias="Green Bg" Level="3">
  <Info>
    <Parent Key="710d3e5f-53e7-461b-a22d-5120a4657463">April</Parent>
    <Path>//April/GreenBg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-06T16:42:06</CreateDate>
    <NodeName Default="Green Bg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hkwd5j1g/green-bg.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>