<?xml version="1.0" encoding="utf-8"?>
<Media Key="2492bcb9-f314-4232-a588-e52494307d5a" Alias="Herobanner Desktop" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HerobannerDesktop</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-05T14:22:19</CreateDate>
    <NodeName Default="Herobanner Desktop" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/x44jejau/herobanner-desktop.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>