<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ed43a97-c149-4252-b4a0-89738d7aa074" Alias="Jan" Level="2">
  <Info>
    <Parent Key="091b2113-b54e-43d4-9e0d-fff0bf01f9a5">2023</Parent>
    <Path>//Jan</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-04-06T14:59:43</CreateDate>
    <NodeName Default="Jan" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>