<?xml version="1.0" encoding="utf-8"?>
<Media Key="317d3e52-af07-4a01-8431-38bf179f2878" Alias="Jon Tyson A Obuh61bkw Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JonTysonAObuh61bkwUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-27T09:51:02</CreateDate>
    <NodeName Default="Jon Tyson A Obuh61bkw Unsplash" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kq5h0mih/jon-tyson-a-obuh61bkw-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>