<?xml version="1.0" encoding="utf-8"?>
<Media Key="aceb2df0-e690-4fce-a3c4-d473e669169d" Alias="Magic5pro" Level="3">
  <Info>
    <Parent Key="710d3e5f-53e7-461b-a22d-5120a4657463">April</Parent>
    <Path>//April/Magic5pro</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-06T17:09:43</CreateDate>
    <NodeName Default="Magic5pro" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4ywpxleq/magic5pro.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>