<?xml version="1.0" encoding="utf-8"?>
<Media Key="78fdb0d6-776a-4fae-b941-11d5e01ee6ac" Alias="Oppo Find N2 Flip Raya Herobanner Desktop" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OppoFindN2FlipRayaHerobannerDesktop</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-04-05T14:53:01</CreateDate>
    <NodeName Default="Oppo Find N2 Flip Raya Herobanner Desktop" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0cyp04dk/oppo-find-n2-flip-raya-herobanner-desktop.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>