<?xml version="1.0" encoding="utf-8"?>
<Media Key="245864a4-6ec0-44b5-971a-5dc194f4d581" Alias="Oskar Kadaksoo Tu2qdnfah3m Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OskarKadaksooTu2qdnfah3mUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-03-27T09:44:23</CreateDate>
    <NodeName Default="Oskar Kadaksoo Tu2qdnfah3m Unsplash" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ujsfqjga/oskar-kadaksoo-tu2qdnfah3m-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>