<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0357ced0-b207-4c45-9d8e-31bbd4ecf983" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-thumbnail-list color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4668c071-8e06-4de5-a7a0-22060693e8be">contentProperties</Composition>
      <Composition Key="cd11ffba-b5c8-4a4f-889e-cedf6df9b9cc">headerProperties</Composition>
      <Composition Key="23044633-145e-4d86-a894-00462ea7a08d">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="067bd44d-ed62-4165-8c99-8cd6c7fa56ff">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>