<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e76dfdd5-ff42-4360-9cf0-058fe9701e7b" Alias="featuredItemsRow" Level="4">
  <Info>
    <Name>Featured items Row</Name>
    <Icon>icon-thumbnail-list color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="32a84cee-dec0-4a6f-ad2f-4cbb2348c3dd">descriptionProperty</Composition>
      <Composition Key="58ac538a-bdfb-4339-975d-b2491be9e118">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>d65e364b-c072-4ac4-8ebf-b7c17524336c</Key>
      <Name>Featured Items</Name>
      <Alias>featuredItems</Alias>
      <Definition>da07b28b-2dea-4066-951a-5710013f383e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f5376f16-ed04-4f7a-8579-028a963b4524</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>