<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0a476072-9967-4b6f-b8b5-99c25907c8dc" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="4668c071-8e06-4de5-a7a0-22060693e8be">contentProperties</Composition>
      <Composition Key="2cb10d2a-5bd2-462c-939e-e945f1f69269">footerProperties</Composition>
      <Composition Key="cd11ffba-b5c8-4a4f-889e-cedf6df9b9cc">headerProperties</Composition>
      <Composition Key="34d9e0a8-e8c0-47df-9cd0-999f2478fdad">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="704cfa63-7344-4484-871d-cb1de969729a">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0357ced0-b207-4c45-9d8e-31bbd4ecf983" SortOrder="0">contentPage</ContentType>
    <ContentType Key="0cac095c-2ad6-49fb-b930-21073acf4195" SortOrder="1">articleListPage</ContentType>
    <ContentType Key="3d7f1602-1ebc-433d-89ad-af1105cefc05" SortOrder="2">contactPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>e5f4e658-194d-49dc-8719-afd43f56844f</Key>
      <Name>My Grid</Name>
      <Alias>myGrid</Alias>
      <Definition>0f25d324-19a8-459f-9963-9342bd23b9c4</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header/content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>641dfaae-275c-42b8-8a61-b8fb7e379011</Key>
      <Caption>Content</Caption>
      <Alias>header/content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>