<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6861bcd9-e1df-4710-af82-1c16efad68ae" Alias="homePageCorp" Level="2">
  <Info>
    <Name>Home Page Corp</Name>
    <Icon>icon-home color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2cb10d2a-5bd2-462c-939e-e945f1f69269">footerProperties</Composition>
      <Composition Key="cd11ffba-b5c8-4a4f-889e-cedf6df9b9cc">headerProperties</Composition>
      <Composition Key="34d9e0a8-e8c0-47df-9cd0-999f2478fdad">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePageCorp</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="c0c10320-e64f-452c-882a-49fccc48e177">HomePageCorp</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>