<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e0b20bdc-36a0-4391-b881-3095adf4b9c2" Alias="imageLinkItem" Level="4">
  <Info>
    <Name>Image Link Item</Name>
    <Icon>icon-pictures color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Content+Models</Folder>
    <Compositions>
      <Composition Key="32a84cee-dec0-4a6f-ad2f-4cbb2348c3dd">descriptionProperty</Composition>
      <Composition Key="48338761-f572-4bf3-8f5a-0aaacdd9d501">imageProperty</Composition>
      <Composition Key="0c7ce04b-a233-4a26-b827-4aa05a607b92">linkProperty</Composition>
      <Composition Key="58ac538a-bdfb-4339-975d-b2491be9e118">titleProperty</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>