<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1e36d61d-709e-4d76-b2fa-e12ba00a79f6" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "affb6784-5172-4b7e-bce1-4a23a49c989f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Content {{$index}} {{$settings.hide == '1'?'[HIDDEN]':''}}",
      "settingsElementTypeKey": "ee5686a7-78c2-4ecf-a3a3-b8b5afb4f8c0",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "b3d7f768-6359-4e58-9138-49788fd69c38",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image'+ $index}} {{$settings.hide == '1'?'[HIDDEN]':''}}",
      "settingsElementTypeKey": "d4ce9de8-a1c6-4368-8228-196c0de1301b",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e76dfdd5-ff42-4360-9cf0-058fe9701e7b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title !=\"\"? title:'Featured Item'+ $index}} {{$settings.hide=='1'?'[HIDDEN]':''}}",
      "settingsElementTypeKey": "c9803b80-8000-4cc2-ae16-dfcd0796e40c",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "de8c926c-b2c1-445d-a4cc-56d71bc3b526",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title !=\"\"? title:'Accordion '+ $index}} {{$settings.hide=='1'?'[HIDDEN]':''}}",
      "settingsElementTypeKey": "6af7a2b1-1a0a-4505-afa5-9a2295b9b2d6",
      "stylesheet": "~/css/styles.css",
      "thumbnail": null,
      "view": "~/App_Plugins/BlockListViews/Blocks/block-preview.html"
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "96f96a80-04e6-4154-a3f5-de62a5800998",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title !=\"\"? title:'Post '+ $index}} {{$settings.hide=='1'?'[HIDDEN]':''}}",
      "settingsElementTypeKey": "4915e715-7edd-42f6-933f-c4e32349a394",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>