<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c5b89429-9fe5-4f94-9d85-44e9696b0c5a" Alias="[BlockList] Accordion List" Level="1">
  <Info>
    <Name>[BlockList] Accordion List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "5f92c265-3c9e-4fbd-abc8-b0f9ae4597e6",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title !=\"\"? title:'Accordion Item'+ $index}} {{$settings.hide=='1'?'[HIDDEN]':''}}",
      "settingsElementTypeKey": "cc496339-9637-427e-a56a-91f86028542b",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>