<?xml version="1.0" encoding="utf-8"?>
<DataType Key="da07b28b-2dea-4066-951a-5710013f383e" Alias="[BlockList] Image Links" Level="1">
  <Info>
    <Name>[BlockList] Image Links</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "e0b20bdc-36a0-4391-b881-3095adf4b9c2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title !=\"\"? title:'Image Link'+ $index}} {{$settings.hide=='1'?'[HIDDEN]':''}}",
      "settingsElementTypeKey": "f9496090-03fd-4e76-b106-7a21ac040032",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>