<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3947015d-88d6-4b7a-bcb0-bda551802fb6" Alias="[BlockList] Post List" Level="1">
  <Info>
    <Name>[BlockList] Post List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "03d9c078-afa9-45b9-9482-e5e1160dcf81",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ title !=\"\"? title:'Post'+ $index}} {{$settings.hide=='1'?'[HIDDEN]':''}}",
      "settingsElementTypeKey": "270618a3-fa2d-4d73-bea5-564d78c6c98d",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>