<?xml version="1.0" encoding="utf-8"?>
<DataType Key="496f03d5-96c5-49fa-9f3f-d4fdeee26261" Alias="[Description] - Rich Text Editor" Level="1">
  <Info>
    <Name>[Description] - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "styles",
      "bold",
      "italic",
      "alignleft",
      "aligncenter",
      "alignright",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "umbmediapicker",
      "umbembeddialog"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "inline",
    "dimensions": {
      "width": 900,
      "height": null
    }
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "large"
}]]></Config>
</DataType>