<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f38f0ac7-1d27-439c-9f3f-089cd8825a53" Alias="[Dropdown] Colours" Level="1">
  <Info>
    <Name>[Dropdown] Colours</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Red"
    },
    {
      "id": 2,
      "value": "orange"
    },
    {
      "id": 3,
      "value": "Green"
    },
    {
      "id": 4,
      "value": "Blue"
    },
    {
      "id": 5,
      "value": "Violet"
    },
    {
      "id": 6,
      "value": "Pink"
    },
    {
      "id": 7,
      "value": "Black"
    },
    {
      "id": 8,
      "value": "White"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>