<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f25d324-19a8-459f-9963-9342bd23b9c4" Alias="Home Page - My Grid - Block Grid" Level="1">
  <Info>
    <Name>Home Page - My Grid - Block Grid</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "26d07f59-aed6-489a-a3d3-170da71db856",
      "name": "Layout"
    },
    {
      "key": "8998a8a6-dd42-46d0-b746-32a3d01c925a",
      "name": "Components"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": 12,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 6,
          "createLabel": null,
          "key": "ae8677fb-e480-4b88-a438-6662d09d0281",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "right",
          "columnSpan": 6,
          "createLabel": null,
          "key": "574998b5-d3ab-4812-812e-08829a4c0eb6",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "fb5c1e5b-6f7f-42d8-8797-e698ec3a876b",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "26d07f59-aed6-489a-a3d3-170da71db856",
      "iconColor": null,
      "inlineEditing": false,
      "label": "",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "affb6784-5172-4b7e-bce1-4a23a49c989f",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "8998a8a6-dd42-46d0-b746-32a3d01c925a",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Content",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>