<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="0a90cd9b-2f6f-46c4-9d69-8db73b68d5f8" Alias="Footer.CopyrightTitle" Level="1">
  <Info>
    <Parent>Footer</Parent>
  </Info>
  <Translations>
    <Translation Language="en-US">Copyright Awesome Web</Translation>
  </Translations>
</Dictionary>